{% extends "base.html" %}
{% load static %}

{% block title %} All Projects {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static "portfolio/partials/project.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/all-projects.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/index.css" %}">
{% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>All Projects</h2>
        <ul>
            {% for project in all_projects %}
                {% include "portfolio/partials/project.html" %}
            {% endfor %}
        </ul>
    </section>

    {% include "portfolio/partials/footer.html" %}

{% endblock %}