{% extends "base.html" %} 
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static "portfolio/partials/project.css" %}">
  <link rel="stylesheet" href="{% static "portfolio/index.css" %}">
{% endblock %}

{% block title %} 
    Sudeev Divakar
{% endblock %} 

{% block content %}

<section id="welcome">
  <header>
    <img src="{% static "portfolio/images/displayPicture.jpg" %}" alt="Sudeev" />
  </header>
  <p>
    <span class="enlarge">Hi 😄</span>
    <br><span class="enlarger">I'm <span class="linear-gradient-orange">Sudeev</span></span> 
    <br><span class="enmini">A Software Engineer from India</span> 
    <br><br>Passionate developer with a knack for creating dynamic and user-friendly websites.<br>Explore my projects and get in touch to collaborate on exciting web development ventures.</p>
</section>

<section id="latest-posts">
  <h2>Projects</h2>
  <ul>
    {% for project in projects %}
      {% include "portfolio/partials/project.html" %}
    {% endfor %}
  </ul>
</section>

{% include "portfolio/partials/footer.html" %}

{% endblock %}
