{% extends "base.html" %}
{% load static %}

{% block title %} {{project.title}} {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static "portfolio/single-project.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/index.css" %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{project.title}}</h2>
        <article>
            <img src="{% static "portfolio/images/rmd_winners.jpg" %}" alt="Post Title">
            <address>By {{project.author}}</address>
            <div>
                Last Updated on <time>{{project.date|date:"d M Y"}}</time>
            </div>
        </article>
    </section>

    <main>
        {{project.content|linebreaks}}
    </main>

    {% include "portfolio/partials/footer.html" %}
{% endblock %}