@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#main-navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
}

#main-navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: white;
}

.horizontal-space {
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 375px) {
  #nav-right {
    text-align: right;
  }
}