{% load static %}

<section id="about">
  <a href="https://github.com/SudeevDivakar" target="_blank" class="tooltip">
    <img src="{% static "portfolio/images/github_icon.webp" %}" alt="GH" class="icon" />
    <span class="tooltiptext">SudeevDivakar</span>
  </a>
  <a href="https://www.linkedin.com/in/sudeev-divakar-66116026a/" target="_blank" class="tooltip">
    <img src="{%static "portfolio/images/linkedin_icon.png" %}" alt="LI" class="icon" />
    <span class="tooltiptext">Sudeev Divakar</span>
  </a>
  <a href="#" id="copyLink" class="copy-link tooltip">
    <img src="{% static "portfolio/images/gmail_icon.jpg" %}" alt="GM" class="icon">
    <span class="tooltiptext" id="gmailTooltip">Copy Email</span>
  </a>
  <a href="https://www.instagram.com/sudeev_gb?igsh=NGl0YXJqMXpodjk5" target="_blank" class="tooltip">
    <img src="{% static "portfolio/images/ig_icon.jpg" %}" alt="IG" class="icon">
    <span class="tooltiptext">@sudeev_gb</span>
  </a>
</section>

  <script>
    document.getElementById('copyLink').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default link behavior

    // The text to be copied
    const textToCopy = 'sudeev.divakar@gmail.com';

    // Create a temporary textarea element to hold the text
    const textarea = document.createElement('textarea');
    textarea.value = textToCopy;
    document.body.appendChild(textarea);

    // Select the text
    textarea.select();
    textarea.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text to the clipboard
    document.execCommand('copy');

    // Remove the temporary textarea
    document.body.removeChild(textarea);

    const tooltip = document.getElementById('gmailTooltip');
    tooltip.innerHTML = 'Copied &#10003;'; // &#10003; is the HTML entity for the tick symbol

    // Optionally, revert the tooltip text back after a few seconds
    setTimeout(function() {
      tooltip.innerHTML = 'Copy Email';
    }, 2000); 
    });
  </script>