#welcome {
  /* background: linear-gradient(to right top, #6305dd, #390281); */
  background: black;
  padding: 6rem 12%;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
}

#welcome img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  border: 5px solid white;
  border-radius: 12px;
  background-color: #ffe1bf;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome p {
  color: white;
  font-size: 1.5rem;
}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-posts li {
  flex: 1;
}

.enlarge {
  font-size: 3rem;
  font-weight:bold;
}

.enlarger {
  font-size: 5rem;
  font-weight:bold;
}

.enmini {
  font-size: 2rem;
  font-weight:bold;
  display: inline-block;
  margin-top: 0.4rem;
}

.light-green {
  color: rgb(102, 228, 85)
}

#about {
  text-align: center;
  padding: 3rem;
  background-color: black;
  margin-top: 5rem;
  max-height: 4rem;
}

#about h2 {
  font-size: 3rem;
  color: white;
}

#about p {
  font-size: 1.5rem;
  color: white;
}

.icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transform: translate(0, -0.5em);
  margin: 0 0.5em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.index-button {
  border: 2px solid #44de44;
  border-radius: 3px;
  background-color: black;
  color: white;
  height: 2.5em;
  width: 10em;
  /* margin-top: 2em; */
  /* margin-bottom: 1.5em; */
  font-weight: bold;
}

.index-button:hover {
  border-color: hsl(39, 85%, 51%);
  box-shadow: 0.5em 0.5em 0.5em -0.4em #f1ff5c ;
  transform: translateY(-5px);
  transition : transform 0.3s,color 0.3s,border-color 0.3s,box-shadow 0.3s;
}

.socials {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  font-weight: bold;
}

.socials-item {
  color: white;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.socials-item:hover {
  box-shadow: 0.5em 0.5em 0.5em -0.4em hsl(39, 85%, 51%) ;
  transition : transform 0.3s,box-shadow 0.3s;
}

.space-left {
  margin-left: 0.2em;
}

.special-link {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
}

.special-link::before,
.special-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgb(27, 255, 27);
  transition: all 0.3s ease;
  transform: scaleX(0);
}

.special-link::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

.special-link::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}

.special-link:hover::before {
  animation: slide-in 0.5s forwards;
}

.special-link:hover::after {
  animation: slide-in 0.5s 0.25s forwards;
}

@keyframes slide-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.special-link:hover {
  border: 2px solid rgb(27, 255, 27);
}

#special-link {
  margin-top: 2em;
  margin-left: 1em;
}

.achievements-image {
  height: 3rem;
  width: 3rem;
}

.more-margin-top {
  margin-top: 2em;
}