body {
  background-color: black;
}

#main-navigation {
  background-color: black;
}

#summary {
  margin: 8rem auto 3rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 90rem;
  background-color: black;
}

#summary h2 {
  color: white;
  font-size: 4.5rem;
  margin-bottom: 0.7em;
  margin-top: 0.4em;
}

.about-heading {
  font-size: 2rem;
  color: white;
  padding-left: 0.5em;
  border-left: 5px solid #31ec31;
}

.project-description {
  color: white;
  font-size: 1.3rem;
  text-align: justify;
}

#summary img {
  width: 90%;
  height: auto;
}

.saucy-yellow {
  background: linear-gradient(45deg, #40f436, hwb(172 41% 5%), rgb(183, 247, 93));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
}

#project{
  margin-left: 2em;
}

#tech-used {
  display: flex;
  flex-wrap: wrap;
}

.tech-box {
  color: white;
  border: 1.5px solid #31ec31;
  border-radius: 7px;
  margin-right: 1.4em;
  padding: 2px 8px;
  margin-bottom: 1em;
}

.mb {
  margin-bottom: 3em;
}

.always-blue {
  color:blue;
}

.always-blue:hover {
  text-decoration: underline;
}

.mb-images {
  margin-bottom: 1em;
}

#about-heading {
  margin-bottom: 0;
}