{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    {% block links %}{% endblock %}
    <title>{% block title %} Sudeev Divakar {% endblock %}</title>
  </head>
  <body>

    <header id="main-navigation">
      <h1><a href="{% url "starting-page" %}">Home</a></h1>
      <nav>
        <a class="horizontal-space" href="{% url "projects-page" %}">All Projects</a>
        <a class="horizontal-space" href="">About Me</a>
      </nav>
    </header>

    {% block content %} {% endblock %}
    
  </body>
</html>
